#preview{
    height: 78px;
    width:78%;
}
.dropzone {
    width: 100px;
    height: 80px;
    border-radius: 3px;
    text-align: center;
}

.upload-input {
    position: relative;
    top: -78px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
